html {
  background-color: #DADDD8;
}

header,
footer {
  background-color: #B7CE63;
  padding: 5px;
  margin: 10px;
  text-align: center;
  border: solid 3px #4B5842;
}

h1,
h2 {
  margin: 3px;
}

h1 {
  color: #4B5842;
}

h2 {
  color: #4B5842;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  text-align: center;
}

section {
  display: block;
  list-style-type: none;
  margin: 10px;
  font-size: 1.25em;
  color: #4B5842;
  border: solid 3px #4B5842;
  padding: 20px;
  background-color: #B7CE63;
}

section h3 {
  margin: 0;
  font-size: 20px;
}

section a {
  cursor: pointer;
  font-size: 13px;
  color: black;
}

footer {
  padding: 1px;
  color: #4B5842;
  font-size: 20px;
}