@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

$dark-grey: #55505C;
$yellow: #FAF33E;
$white: #FFFFFF;
$xsmall-max-width: 420px;
$medium-min-width: 750px;
$large-min-width: 1000px;

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: $yellow;
  margin: 0;
  padding: 20px 0 10px 0;
}

#projects, 
#aboutMe {
  background-color: $dark-grey;
  padding-bottom: 20px;
  ul {
    padding: 40px 0;
  }
  ul li {
    font-size: 1.3em;
    list-style: none;
    text-align: center;
    color: white;
  }
}

#project-links {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 25px;
  margin: 20px;
}

#project-links section {
  min-width: 200px;
  border: solid 3px $yellow;
  color: $yellow;
  padding: 10px;
  h3 {
    margin: 10px 0;
  }
  a {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
  }
}

#project-links a:hover {
  color: $yellow;
}

#offer,
#resume {
  background-color: $yellow;
  padding-bottom: 20px;
}

#offer {
  padding-bottom: 40px;
}

#contact {
  background-color: $dark-grey;

}

@media all and (min-width: $medium-min-width) {
  #project-links {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px;
    text-align: center;
    justify-items: center;
    section {
      max-width: 300px;
      min-height: 200px;
    }
    h3 {
      font-size: 2rem;
    }
    a {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 2rem;
  }

}

@media all and (min-width: $large-min-width) {
    #project-links {
      margin: 20px auto;
      section {
      min-width: 250px;
    }
  }
}
