$blue: #3464b4;
$green: #64a454;
$gray: #e7e8e9;

// EVERYTHING

body {
  margin: 0;
  padding: 0;
  background: $gray;
  @media (min-width: 600px) {
    margin: 10px;
  }
}

// HEADER

header {
  background-color: $gray;
}

// MAIN

section {
  background: $green;
  padding: 20px;
  margin: 20px;
}

// FOOTER

footer {
  text-align: center;
  color: $blue;
}