$blue: #3464b4;
$green: #64a454;
$gray: #e7e8e9;

// EVERYTHING

body {
  margin: 0;
  padding: 0;
  background: $gray;
}

// HEADER

header {
  background-color: $gray;
}

// MAIN

section {
  background: $green;
  padding: 20px;
}

#overview {
  background-color: $blue;
  color: #FFFFFF;
}

#data {
  background-color: $gray;
  color: #000000;
}

#modules {
  background-color: $blue;
}

#wireframes {
  background-color: $green;
  color: #000000;
}

#styling {
  background-color: $gray;
}

#schedule {
  background-color: $blue;
  color: #FFFFFF;
  @media (min-width: 600px) {
    h3, ul {
      text-align: center;
      list-style-type: none;
    }
  }
}


// WIREFRAMES

#wireframes {
  display: flex;
  flex-flow: column;
}

#mobile, #desktop {
  @media (min-width: 600px) {
    display: flex;
    flex-flow: row wrap;
  }
}

#mobile div {
  border: solid 2px $blue;
  margin: 20px;
}

#mobile a {
  @media (min-width: 600px) {
    font-size: 1.75em;
  }
}

#wireframes a {
  width: 100px;
  color: black;
  text-decoration: none;
  border: solid 2px black;
  border-radius: 5px;
  background-color: $blue;
  color: #FFFFFF;
  margin: 10px 0;
  padding: 3px 10px;
  text-align: center;
  font-size: 1.25em;
  @media (min-width: 600px) {
    margin: 10px auto;
  }
}

#wireframeBack {
  top: 5px;
  left: 5px;
  background-color: $blue;
  position: fixed;
  padding: 0px 3px;
  border-radius: 50%
}

#desktop div {
  text-align: center;
  border: solid 2px $blue;
  width:  90%;
  margin: 30px auto;
  @media (min-width: 600px) {
    width: 50%;
    min-width: 550px;
  }
}

// FOOTER

footer {
  text-align: center;
  color: $blue;
}