@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
// font-family: 'Noto Sans JP', sans-serif;

* {
  font-family: 'Noto Sans JP', sans-serif;
}


h1 {
  font-size: 1.5em;
  @media (min-width: 600px) {
    font-size: 3em;
  }
}

header h2 {
  font-size: 1.25em;
  @media (min-width: 600px) {
    font-size: 2.5em;
  }
}

header h3 {
  font-size: 1em;
  @media (min-width: 600px) {
    font-size: 2em;
  }
}

h1, 
header h2, 
header h3 {
  text-align: center;
  color: $blue;
  margin: 0;
}

p {
  @media (min-width: 1000px) {
    width: 800px;
    margin: 20px auto;
  }
}

#modules ul {
  @media (min-width: 600px) {
    width: 150px;
    margin: 20px auto;
    font-size: 1.5em;
  }
}

#schedule ul  {
  @media (min-width: 600px) {
    width: 400px;
    margin: 20px auto;
  }
}

section h1,
section h2,
section h3 {
  @media (min-width: 1000px) {
    display: block;
    text-align: center;
  }
}

section  {
  @media (min-width: 600px) {
    h2 {
      font-size: 2em;
      text-align: center;
    }

    p {
      font-size: 1.5em;
    }
  }
}

#styling h3 {
  font-size:  1.25em;
  @media (min-width: 600px) {
    font-size: 1.5em;
    text-align: center;
  }
}

#styling p {
  @media (min-width: 600px) {
    text-align: center;
  }
}


// MODULE LIST

#modules {
  color: white;
}

// WIREFRAMES

#mobile h1, #desktop h1 {
  padding-top: 5px;
  @media (min-width: 600px) {
    display: block;
    width: 100%;
  }
}

#mobile a {
  text-align: center;
  display: block;
  color: $blue;
}

#mobile #wireframeBack, #desktop #wireframeBack {
  font-size: 1.5em;
  text-decoration: none;
  color: #FFFFFF;
  @media all and (min-width: 600px) {
    font-size: 50px;
  }
}