header img {
  width: 90%;
  display: block;
  margin: 30px auto;
}

#splash:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vh;
  height: 100vh;
  z-index: -10;
  background: url(../images/dawid-zawila--G3rw6Y02D0-unsplash.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#dashboard:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  // width: 100vh;
  // height: 100vh;
  z-index: -10;
  background: url(../images/dawid-zawila--G3rw6Y02D0-unsplash.jpg) no-repeat center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media (min-width: 600px) {

  header img {
    width: 40%;
    display: block;
    margin: 30px auto;
  }

  #splash:before {
    background: url(../images/splash.jpg) no-repeat cover cover;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 900px) {
  
}