// ALL VIEWS

h1 {
  color: $gray;
}

// SPLASH VIEW

#splash a {
  color: white;
  background-color: $blue;
  text-decoration: none;
  font-size: 1.5em;
}

// DASHBOARD VIEW

.bucket h2 {
  text-align: center;
  font-size: 1.75em;
  color: #FFFFFF;
}

.bucket a,
.bucketDetails a {
  text-decoration: none;
  // color: black;
  cursor: pointer;
}

.bucket p {
  font-size: 1.3em;
  text-align: center;
}

// BUCKET VIEW

.bucketDetails {
  font-size: 1.3em;
  text-align: center;
}

.bucketDetails h2 {
  margin-bottom: 0;
  color: #FFFFFF;
}

#planned {
  color: blue;
  text-decoration: underline;
}



@media (min-width: 600px) {

}

@media (min-width: 900px) {
  
}