<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../scss/styles.css">
  <title>Forekala</title>
</head>
<body id="dashboard" onload="monthAndYear(), renderCategories()">
  <header>
    <img src="../images/forekala.png" alt="Image of the Forekala logo with a blue and green striped ball and the word Forekala to the right of the ball">
  </header>
  <main>
    <div id="monthAndYear"></div>
    <div id="categories"></div>
    <button onclick="addCategory(), renderCategories()" id="addCategoryBtn">Add Category</button>
  </main>
</body>
<script>

  const updatePersistentData = (categories) => {
    localStorage.setItem("myCategories", JSON.stringify(categories));
  }

  var categories = [];
  renderCount = 0;

  function renderCategories() {
    if (renderCount == 0) {
      var retrievedData = localStorage.getItem("myCategories");
      var retrievedCategories = JSON.parse(retrievedData);
        for (let i = 0; i < retrievedCategories.length; i++) {
        var node = document.createElement("div");
        var textnode = document.createTextNode(retrievedCategories[i]);
        var deleteBtn = document.createElement("button");
        var categoryTitle = document.createElement("div");
        var categoryHeading = document.createElement("h2");
        categoryTitle.classList.add("categoryTitle");
        deleteBtn.classList.add("fa");
        deleteBtn.classList.add("fa-trash-o");
        node.classList.add("bucket");
        node.id = retrievedCategories[i];
        categoryHeading.appendChild(textnode);
        categoryTitle.appendChild(categoryHeading);
        categoryTitle.appendChild(deleteBtn);
        node.appendChild(categoryTitle);
        deleteBtn.onclick = function() {deleteCategory(node)};
        document.getElementById("categories").appendChild(node);
        categories.push(retrievedCategories[i]);
        updatePersistentData(categories);
      }
    }
    renderCount = 1;
  }

  function addCategory() {
    var categoryName = prompt("What is this category called?")
    if (categoryName == "") {
      alert("Sorry, the name of the category must be at least one character!")
    }
    else if (categoryName == null) {
      return;
    }
    else {
      var node = document.createElement("div");
      var textnode = document.createTextNode(categoryName);
      var deleteBtn = document.createElement("button");
      var categoryTitle = document.createElement("div");
      var categoryHeading = document.createElement("h2");
      categoryTitle.classList.add("categoryTitle");
      deleteBtn.classList.add("fa");
      deleteBtn.classList.add("fa-trash-o");
      node.classList.add("bucket");
      node.id = categoryName;
      categoryHeading.appendChild(textnode);
      categoryTitle.appendChild(categoryHeading);
      categoryTitle.appendChild(deleteBtn);
      node.appendChild(categoryTitle);
      deleteBtn.onclick = function() {deleteCategory(node)};
      document.getElementById("categories").appendChild(node);
      categories.push(categoryName);
      updatePersistentData(categories);
    }
  }

  function deleteCategory(node) {
    // alert(node.id);
    var confirmDelete = window.confirm("Are you sure you want to delete this category?");
    if (confirmDelete) {
      document.getElementById("categories").removeChild(node)      
    }
    var categoryName = document.getElementById(node.id);
    deleteFromPersistent(categoryName);
  }

  function deleteFromPersistent(categoryName) {
    categories.pop(categoryName);
    updatePersistentData(categories);
    // location.reload();
  }

  function monthAndYear() {
    var today = new Date();
    var mm = String(today.getMonth()).padStart(2, '0');
    switch(mm) {
      case "00":
        mm = "January";
        break;
      case "01":
        mm = "February";
        break;
      case "02":
        mm = "March";
        break;
      case "03":
        mm = "April";
        break;
      case "04":
        mm = "May";
        break;
      case "05":
        mm = "June";
        break;
      case "06":
        mm = "July";
        break;
      case "07":
        mm = "August";
        break;
      case "08":
        mm = "September";
        break;
      case "09":
        mm = "October";
        break;
      case "10":
        mm = "November";
        break;
      default:
        mm = "December";
        break;
    }
    var yyyy = today.getFullYear();
    today = mm + " " + yyyy;
    var node = document.createElement("h1");
    var textnode = document.createTextNode(today);
    node.appendChild(textnode);
    document.getElementById("monthAndYear").appendChild(node);
  }
</script>
</html>