<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../scss/styles.css">
  <title>Forekala</title>
</head>
<body id="dashboard">
  <header>
    <img src="../images/forekala.png" alt="Image of the Forekala logo with a blue and green striped ball and the word Forekala to the right of the ball">
  </header>
  <main>
    <h1>March 2021</h1>
    <div id="categories"></div>
    <button onclick="addCategory()" id="addCategoryBtn">Add Category</button>
  </main>
  <!-- <footer>
    &copy; 2021 | Andrew Brower
  </footer> -->
</body>
<script>
  function addCategory() {
    var categoryName = prompt("What is this category going to be called?")
    if (categoryName == "") {
      alert("Sorry, the name of the category must be at least one character!")
    }
    else if (categoryName == null) {
      return;
    }
    else {
      var node = document.createElement("div");
      var textnode = document.createTextNode(categoryName);
      var deleteBtn = document.createElement("button");
      var categoryTitle = document.createElement("div");
      var categoryHeading = document.createElement("h2");
      categoryTitle.classList.add("categoryTitle");
      deleteBtn.classList.add("fa");
      deleteBtn.classList.add("fa-trash-o");
      node.classList.add("bucket");
      categoryHeading.appendChild(textnode);
      categoryTitle.appendChild(categoryHeading);
      categoryTitle.appendChild(deleteBtn);
      node.appendChild(categoryTitle);
      deleteBtn.onclick = function() {deleteCategory(node)};
      document.getElementById("categories").appendChild(node);
    }
  }

  function deleteCategory(node) {
    var confirmDelete = window.confirm("Are you sure you want to delete this category?");
    if (confirmDelete) {
      document.getElementById("categories").removeChild(node)      
    }
  }
</script>
</html>