html {
  background-color: white;
  text-align: center;
  margin: 50px;
}

h1 {
  font-size: 30px;
  color: blue;
}

input {
  border: solid 2px black;
  margin: 20px;
  padding: 5px;
}

button {
  border: solid 2px black;
  margin: 20px;
  background-color: lightblue;
  padding: 5px;
}

p {
  font-size: 20px;
}

#output, #output2 {
  color: blue;
}
