<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../scss/styles.css">
  <title>Forekala</title>
</head>
<body id="bucket">
  <header>
    <img src="../images/forekala.png" alt="Image of the Forekala logo with a blue and green striped ball and the word Forekala to the right of the ball">
  </header>
  <main>
    <h1>Food</h1>
    <a href="dashboard.html">Back</a>
    <section class="bucketDetails">
        <h2>Transactions</h2>
          <ul class="transactions">
            <li class="transactionHeader">Where</li>
            <li class="transactionHeader">When</li>
            <li class="transactionHeader">Amount</li>

            <li class="vendor">Red Robin</li>
            <li class="date">March 3</li>
            <li class="amount">$19.00</li>

            <li class="vendor">Costco</li>
            <li class="date">March 5</li>
            <li class="amount">$119.00</li>

            <li class="vendor">Subway</li>
            <li class="date">March 1</li>
            <li class="amount">$11.00</li>

            <li class="vendor">Smith's</li>
            <li class="date">March 10</li>
            <li class="amount">$49.00</li>

            <li class="vendor">Walmart</li>
            <li class="date">March 1</li>
            <li class="amount">$30.00</li>
          </ul>
          <ul class="transactionSummary">
            <li id="transactionTotal">Total:</li>
            <li id="totalAmount">$228.00</li>
          </ul>
    </section>
  </main>
  <footer>
    &copy; 2021 | Andrew Brower
  </footer>
</body>
</html>