<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../scss/styles.css">
  <title>Forekala | Template</title>
</head>
<body id="dashboard">
  <header>
    <img src="../images/forekala.png" alt="Image of the Forekala logo with a blue and green striped circle and the word Forekala to the right of the circle">
  </header>
  <main>
    <h1>Bucket</h1>
  </main>
  <footer>
    &copy; 2021 | Andrew Brower
  </footer>
</body>
</html>