<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../scss/styles.css">
  <title>Forekala</title>
</head>
<body id="dashboard">
  <header>
    <img src="../images/forekala.png" alt="Image of the Forekala logo with a blue and green striped ball and the word Forekala to the right of the ball">
  </header>
  <main>
    <h1>March 2021</h1>
    <section class="bucket">
      <a href="bucket.html">
        <h2>Savings</h2>
        <div id="bucketDetails">
          <p>Total: $100.00</p>
          <p>Spent: $0.00</p>
          <p>Left: $100.00</p>
        </div>
      </a>
    </section>
    <section class="bucket">
      <a href="bucket.html">
        <h2>Food</h2>
        <div id="bucketDetails">
          <p>Total: $100.00</p>
          <p>Spent: $0.00</p>
          <p>Left: $100.00</p>
        </div>
      </a>
    </section>
    <section class="bucket">
      <a href="bucket.html">
        <h2>House</h2>
        <div id="bucketDetails">
          <p>Total: $100.00</p>
          <p>Spent: $0.00</p>
          <p>Left: $100.00</p>
        </div>
      </a>
    </section>
    <section class="bucket">
      <a href="bucket.html">
        <h2>House</h2>
        <div id="bucketDetails">
          <p>Total: $100.00</p>
          <p>Spent: $0.00</p>
          <p>Left: $100.00</p>
        </div>
      </a>
    </section>
    <section class="bucket">
      <a href="bucket.html">
        <h2>House</h2>
        <div id="bucketDetails">
          <p>Total: $100.00</p>
          <p>Spent: $0.00</p>
          <p>Left: $100.00</p>
        </div>
      </a>
    </section>
        <section class="bucket">
      <a href="bucket.html">
        <h2>House</h2>
        <div id="bucketDetails">
          <p>Total: $100.00</p>
          <p>Spent: $0.00</p>
          <p>Left: $100.00</p>
        </div>
      </a>
    </section>
  </main>
  <footer>
    &copy; 2021 | Andrew Brower
  </footer>
</body>
</html>