$blue: #3464b4;
$green: #64a454;
$gray: #e7e8e9;
$center-margin: 0 auto;
$test-border: solid 2px red;

#splash header {
  margin: 0 0 100px 0;
}

#getStarted {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 60px;
  left: 0;
}

#getStarted a {
  padding: 10px 25px;
  border-radius: 10px;
}

#splash footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  color: white;
  text-align: center;
}

#splash footer a {
  margin: 30px;
}

@media (min-width: 600px) {

}

@media (min-width: 900px) {

}