header img {
  width: 90%;
  display: block;
  margin: 30px auto;
  border: solid 2px red;
}

// #splash {
//   background: url(../images/splash-mobile.jpg) no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   background-attachment: fixed;
// }

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vh;
  height: 120vh;
  z-index: -10;
  background: url(../images/splash-mobile.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// #splash:before, 
// #dashboard:before {
//   content: "";
//   display: block;
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -10;
//   background: url(../images/splash-mobile.jpg) no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }


@media (min-width: 600px) {

}

@media (min-width: 900px) {
  
}